* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex-grow: 1;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#000;
    flex-wrap: wrap;
}

.caja__titulo {
    width: 100%;
    height: 70px;
    text-align: center;
}

.caja__ul {
    width: 100%;
    text-align: center;
    background-color:#fff;
    box-shadow: 0px 0px 2px black;
}

.nav__titulo {
    color: #fff;
    padding: 20px;
    font-size: 21px;
}

.nav__li {
    display: inline-block;
    padding: 30px 70px;
}

.nav__li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav__li a:hover {
    color: #000;
    text-decoration: underline;
}

.sobreAutores__cajaAutores {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.sobreAutores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobreAutores-h2{
    text-align: center;
    width: 100%;
    padding: 30px 0 30px 0;
}

.cajaAutores__cajaAutor {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
}

.cajaAutor-img {
    width: 90px;
}

.problema {
margin: 40px 0 0px 0;
padding: 20px 20px 20px 20px;
background-color:#cdd2da;
}

.problema__caja p{
    padding-top: 10px;
    text-align: justify;
}

.otrasSoluciones {
color:#0e0e0e;
padding: 20px 20px 20px 20px;
}

.otrasSoluciones__caja {
    padding-top: 10px;
}

.otrasSoluciones__caja p {
    text-align: justify;
    padding-bottom: 10px;
}

.experimento {
background-color:#ffffff;
padding: 20px 20px 20px 20px;
background-color:#cdd2da;
}

.Experimento__caja {
    padding-top: 10px;
}

.Experimento__caja p {
    text-align: justify;
}

.contacto{
	background-color: #000000;
	color: #ffffff;
	padding: 30px 20px 20px 20px;
}

.contacto h2{
	border: 3px solid #FFF;

}

.contactoinfo__li a{
	color: #fff;
	text-decoration: none;	
}

.contactonav__li a:hover{
	color: #8fdbff;
	text-decoration: underline;
}

.contacto > div {
	display: flex;
	justify-content: space-around;
}

.contactoinfo__li {
	padding-bottom: 20px;
	text-align: left;
}

.contacto h3 {
	padding: 20px 0 20px 0;
}